<h1><%= @idea.title %></h1>

<p><%= @idea.description %></p>

<p><%= @idea.created_at %></p>
<p>Created By <%= @idea.user.full_name %></p>


<% if can? :edit, @idea %>
  <%= link_to  "Edit", edit_idea_path(@idea) %>
<% end %>
<% if can? :destroy, @idea %>
<%= link_to "Delete", idea_path(@idea), method: :delete, data: {confirm: "Are you sure?"} %>
<% end %>

<hr>

<%= @review.errors.full_messages.join(', ') %>
<%= form_for [@idea, @review] do |f| %>
  <%= f.text_area :body %>
  <%= f.submit %>
<% end %>

<% @idea.reviews.each do |review| %>
  <%= review.body %>
  <% if can? :crud, review %>
    <%= link_to 'Delete', [@idea, review],
                          method: :delete,  
                          data: { confirm: 'Are you sure?' } %> 
  <% end %>

  <hr>
<% end %>